*{
    font-family:arial;
    font-weight: bold;
    box-sizing: border-box;
}

.title{
    text-align: center;
}

p,h2,h3,h4{
    border: 1px solid red;
    
}


span,a,img{
    border: 1px solid blue;
    width: 200px;
    /*display: none;    */
}

#example{
    
    border: 1px solid lightgray;
    background-color: lightgrey;
    /*visibility: hidden;*/
}

#example span{
    border: none;
    color: green;
    background-color: greenyellow;
    font-size: 30px;

}