*{
    box-sizing: border-box;
}


h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 8em;
    text-align: center;

    background-image: url("pexels-lucas-george-wendt-4592706.jpg");
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    
}

h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 8em;
    text-align: center;

    background-image: url("200w.webp");
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent;
}

p{
    font-size: 3.9em;
    padding: 20px;
    text-align: center;

    background-image: linear-gradient(to right, red, yellow);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}