*{
    font-family: arial;
    font-weight: bold;
    box-sizing: border-box;
}

.title{
    text-align: center;
}

div{
    width: 100px;
    height: 100px;
    margin: 250px auto;
    border: 1px solid lightgray;
    text-align:  center;
    background-color: blue;
    color: #ffffff;
    padding: 15.5px;

     transform: rotate(45deg);
    transform: scaleY(2);
    transform:skewX(10deg);
    transform: translate(100px,10px);

    /* 1.[scaleX], 2.[skewY],[skewX], 3.[scaleY] 4.[translateX], [translateY] */ 
     transform: matrix(2,1,1,2,70,-200);  
}

/* div:hover{
    cursor: pointer;
    transition: all 2s linear;
    transform: rotateX(360deg);
} */