*{
    font-family: arial;
    font-weight: bold;
}

.title{
    text-align: center;
    color: lime;
    text-shadow: 0px -2px black, 2px 0px black, 0px 2px black,-2px 0px black;
}


#text-shadow{
    text-align: center;
    margin-top: 70px;
    font-size: 70px;
    text-shadow: 10px 5px 3px rgb(99, 96, 96);
}

#box-shadow{
    width: 300px;
    height: 200px;
    border: 1px solid black;
    margin: 50px auto;
    border-radius: 7px;
    box-shadow: 10px 10px 10px black;
}

button{
    font-size: 20px;
    margin: 50px auto;
    display: block;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: lightslategrey;
    cursor: pointer;
}

button:hover{
    box-shadow: 2px 2px 5px black;
}