*{
    box-sizing: border-box;
    font-weight: bold;
    font-family: arial;
}

body{

    margin: 0px;
}

p{
    background-color: red;
   /* margin-top: 50px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 20px;*/
    margin:30px 50px;
    padding:10px;
    
}