*{
    font-family: arial;
    margin: 0px;
}

h2.title{
    text-align: center;
}

div{
    background-color: lightgray;
    width: 100px;
    height: 100px;
    margin: 50px;

    border-width: 10px;
    border-style: ridge;
    border-color: red;
    
    border:10px ridge red;

    border-width: 10px 5px 2px 1px;
    border-color: yellow orange red blue;
    border-style: solid ridge dotted dashed;

    border: 4px solid red;
    /*border-radius: 10px;*/

    border-top-left-radius: 10px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius:100px;

    border-radius: 10px 30px 100px 3px;


}